.foodDetail-price {
    margin-left: 0px;
}

.foodDetail-decrease {
    position: relative;
    border: none;
    background-color: white;
}

.foodDetail-input {
    width: 160px;
    height: 40px;
    /* position: absolute; */
    margin-left: -55px;
    align-items: center;
    padding-left: 70px;
    padding-right: 50px;
    border-radius: 30px;
}

.foodDetail-increase {
    margin-left: -50px;
    border: none;
    background-color: white;
    color: red;
}

.foodDetail-next-image-btn {
    height: 60px;
    width: 50px;
    border: none;
    background-color: white;
}